/* Fonts */

@font-face {
    font-family: 'Rubik-Regular';
    src: url('Fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variables */

:root {
    --Core-Font: 'Rubik-Regular';

    --Base-Colour: #050216;
    --Secondary-Base-Colour: #e4e5f193;
    --Tetriary-Base-Colour: #e4e5f1;
    --Button-Hover-Colour: #c3c4cf;

    --Font-Colour: #ffffff;
}

/* Media Queries */

/* For PC:  */

@media (min-width: 1000px) {
    #Words {
        padding-top: 1em;
    }

    #SearchBar {
        width: 75%;
    }

    #PageBar {
        bottom: 1em;
        left: 30%;

        width: 40em;
        height: 4.5em;

        border-radius: 25px;
    }

    #Title {
        visibility: visible;
    }
    /* Styles */
}

@media (max-width: 1000px) {
    #Words {
        padding-top: 2em;
    }

    #SearchBar {
        width: 75%;
    }

    #PageBar {
        --HeightValue: 3.5em;

        top: calc(100% - var(--HeightValue));
        left: 0%;

        width: 100%;
        height: var(--HeightValue);

        border-radius: 0px;
    }

    #Title {
        visibility: collapse;
    }
    /* Styles */
}

/* Styling */

html {
    background-color: var(--Base-Colour);

    height: 100%;
}

#Title {
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 3%;

    font-family: var(--Core-Font);
    font-size: 300%;
    color: var(--Font-Colour);
}

#Topbar {
    display: flex;

    z-index: 1;
    position: fixed;

    top: 0%;
    left: 0%;

    width: 100%;
    height: 6em;

    backdrop-filter: blur(6px);
}

#PageBar {
    z-index: 2;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background: #ffffff30;
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    backdrop-filter: blur(6px);

    transition: 0.15s;
}

#Sidebar {
    z-index: 2;
    position: fixed;

    transform: translateY(50%);
    right: 1em;

    width: 5em;
    height: auto;
    
    border-radius: 1000px;

    padding-top: 1em;
    padding-bottom: 1em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    background: #ffffff30;
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    backdrop-filter: blur(6px);

    transition: 0.15s;
}

#CurrentPageLabel {
    top: 8%;
    text-align: center;

    font-family: var(--Core-Font);
    font-size: 300%;
    color: var(--Font-Colour);

    user-select: none;
}

.PageButton {
    position: relative;

    width: 10%;
    height: 60%;

    cursor: pointer;

    background-color: transparent;
    border: none;

    transition: 0.3s;
}

.PageButton img {
    height: 100%;

    filter: invert();
}

.PageButton:hover {
    rotate: -20deg;
}

#SearchBar {
    z-index: 2;
    position: relative;

    top: 0.5em;
    left: 1em;

    height: 50%;

    border-radius: 1000px;
    border: none;

    padding-left: 0.5em;

    background: #ffffff30;
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    transition: 0.15s;

    font-family: var(--Core-Font);
    font-size: 200%;
    color: var(--Font-Colour);

}

#SearchBarIcon {
    z-index: 2;
    position: relative;

    height: 45%;

    margin-top: 1em;
    left: 1em;

    filter: invert();
}

#SearchBar:hover {
    background-color: #ffffff50;
}

#Words {
    position: absolute;
    z-index: 0;

    width: 95%;

    top: 10%;
    left: 1em;

    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.Word {
    font-family: var(--Core-Font);
    font-size: 2em;
    color: var(--Font-Colour);

    background: transparent;
    border: none;

    margin-top: 1em;
    margin-bottom: 1em;

    text-align: left;

    margin-top: 0%;
}

#OrderButton {
    z-index: 2;

    position: relative;

    margin-top: 0%;

    top: 0%;

    width: 5em;
    height: 5em;

    cursor: pointer;
    background-color: #ffffff30;

    border-radius: 1000px;
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    border: none;
}

#OrderButton img {
    z-index: 3;
    position: relative;

    height: 60%;

    margin-top: 3%;
    margin-left: 3%;

    filter: invert();
}

#OrderButton:hover {
    transition: 0.15s;
    background-color: #ffffff50;
}

#LengthRangeBar {
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: 4em;
    height: 12em;

    cursor: pointer;
    background-color: #ffffff30;

    border-radius: 1000px;
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    border: none;
}

#LengthRangeBar img {
    z-index: 3;
    position: relative;

    width: 55%;
    height: 55%;

    filter: invert();
}

.LengthInput {
    z-index: 3;
    position: relative;

    padding: 3%;

    width: 100%;
    height: 40%;

    font-family: var(--Core-Font);
    font-size: 1.5em;
    color: var(--Font-Colour);
   
    border: none;
    border-radius: 5px;

    background: #ffffff00;

    text-align: center;
}

#MoreButton {
    z-index: 2;

    position: relative;

    margin-top: 0%;

    top: 0%;

    width: 5em;
    height: 5em;

    cursor: pointer;
    background-color: #ffffff30;

    border-radius: 1000px;
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    border: none;
}

#MoreButton img {
    z-index: 3;
    position: relative;

    height: 60%;

    margin-top: 3%;
    margin-left: 3%;

    filter: invert();
}

#MoreButton:hover {
    transition: 0.15s;
    background-color: #ffffff50;
}

.WordInteractPanel {
    z-index: 3;
    position: fixed;

    height: 12%;
    width: 15%;

    left: 15%;
    top: 30%;

    border-radius: 8px;

    background: var(--Secondary-Base-Colour);

    backdrop-filter: blur(4px);
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    transition: 0.15s;
}

.WordInteractPanelArrow {
    z-index: 3;
    position: fixed;

    top: 12%;
    left: -10%;

    height: 60%;

    margin-top: 3%;
    margin-left: 3%;

    rotate: 180deg;
}

.DefinitionButton {
    position: fixed;

    top: 56%;
    left: 25%;
    width: 70%;

    text-align: left;

    font-family: var(--Core-Font);
    font-size: 2em;
    color: var(--Font-Colour);

    cursor: pointer;
    background-color: transparent;

    border: none;
    transition: 0.15s;
}

.DefinitionButton:hover {
    left: 28%;
}

.DefineImage {
    position: fixed;

    top: 56%;
    left: 7%;

    width: 13%;
}

.WordCopyButton {
    position: fixed;
    
    top: 10%;
    left: 25%;
    width: 70%;

    text-align: left;

    font-family: var(--Core-Font);
    font-size: 2em;
    color: var(--Font-Colour);

    cursor: pointer;
    background-color: transparent;

    border: none;
    transition: 0.15s;
}

.WordCopyButton:hover {
    left: 28%;
}


.WordCopyImage {
    position: fixed;

    top: 10%;
    left: 7%;

    width: 13%;
}

.PatternBar {
    z-index: 3;
    position: fixed;

    top: 25%;
    left: 70%;

    width: 29%;
    height: 50%;

    border-radius: 5px;

    background: var(--Tetriary-Base-Colour);
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    transition: 0.15s;
}

.PatternBar:hover {
    background: var(--Button-Hover-Colour);
}

.PatternImage {
    z-index: 3;
    position: relative;

    height: 60%;

    margin-top: 2%;
    margin-left: 4%;
}

.BeginsWithInput {
    z-index: 3;
    position: relative;

    top: -8%;
    left: 0%;

    padding: 3%;

    width: 37%;
    height: 40%;

    font-family: var(--Core-Font);
    font-size: 200%;
    color: var(--Font-Colour);
   
    border: none;
    border-radius: 5px;

    background: #ffffff00;
}

.EndsWithInput {
    z-index: 3;
    position: relative;

    top: -8%;
    left: 0%;

    padding: 3%;

    width: 37%;
    height: 40%;

    text-align:right;

    font-family: var(--Core-Font);
    font-size: 200%;
    color: var(--Font-Colour);
   
    border: none;
    border-radius: 5px;

    background: #ffffff00;
}

.ToggleVisualMode {
    z-index: 3;

    position: fixed;

    margin-top: 0%;
    left: 95%;
    top: 91%;

    width: 4%;
    height: 7%;

    cursor: pointer;
    background-color: var(--Tetriary-Base-Colour);

    border-radius: 15px;
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0.279);

    border: none;
    transition: 0.15s;
}

.ToggleVisualMode:hover {
    background: var(--Button-Hover-Colour);
}

.ToggleVisualMode_Icon {
    z-index: 3;
    position: relative;

    left: 0%;
    height: 60%;

    margin-top: 3%;
    margin-left: 3%;
}

.ToggleVisualMode:active {
    top: 92%;
    box-shadow: 0 10px 1em 0 rgba(0, 0, 0, 0);
    background-color:var(--Button-Hover-Colour);
}